/* checkboxes and labels*/
/* label {
    display: block;
    margin-bottom: 10px; 
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
} */

/* for the sidebar*/
.prod-wrapper {
    display: flex;
    /* justify-content: space-between; */
}

.filter {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 153px;
    /* left: 100px; */
    background: #f0f0f0;
    overflow-x: hidden;
    /* padding: 8px 0; */
}

.brand, .price, .rating, .cat{
    border: 1px solid #ccc;
    padding: 10px;
}

.catBox, .brandBox, .priceBox, .ratingBox{
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 5px;
}


/* Product list */
.prod_browse{
    width: 100%; 
    /* height: 150vh; */
    margin: 100px 200px 36px 220px;
}

.cart-wrapper {
    /* width: 100%; */
    /* width: 32%; */
    max-width: 518px;
}   
/* 

.prod_browse{
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    max-width: 1406px;
}

.prod_browse img {
    max-width: 232px;
}

.name_buy p {
    font-size: 25px;
    font-weight: bold;
}

.prod_name {
    font-weight: bold;
    padding-bottom: 1rem;
} */