.p_container{
    padding-top: 70px;
    /* padding-left: 20%; */
    display: flex;
    justify-content: space-around;
    /* flex-wrap: wrap; */
    padding: 0px 80px;
}

.p1, .p2, .p3, .p4{
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding-bottom: 40px;
}

h3{
    /* text-align: center; */
    padding-bottom: 10px;
}

a.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100%; */
  max-width: 50px;
  margin: 0 auto;
}

/* checkboxes and labels*/
label {
    display: block;
    margin-bottom: 10px; 
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
}

/* for the sidebar*/
.filter {
    height: 100%;
    /* max-height: 400px; */
    width: 17%;
    min-width: 10%;
    position: sticky;
    z-index: 1; 
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 100px;

}

.filter_contents {
    background-color: #f0f0f0;

}

.brand, .price, .rating, .prod-cat{
    border: 1.5px solid #ccc;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}