/* checkboxes and labels*/
/* label {
    display: block;
    margin-bottom: 10px; 
}

input[type="checkbox"] {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
} */

/* for the sidebar*/
.prod-wrapper {
    /* display: flex;
    justify-content: space-between; */
}

.filter {
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 165px;
    left: 100px;
    background: #f0f0f0;
    overflow-x: hidden;
    /* padding: 8px 0; */
}

.brand, .price, .rating, .cat{
    border: 1px solid #ccc;
    padding: 10px;
}

.catBox, .brandBox, .priceBox, .ratingBox{
    display: flex;
    flex-direction: column;
    padding: 2px;
    gap: 5px;
}


/* Product list */
.prod_browse{
    /* width: 60%;  */
    height: 150vh;
    margin: 100px 100px 0px 400px;
}

.prod-item {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #8a00fc;
}

.left-col {
    align-items: center;
    padding-right: 2rem;
    /* padding-left: 2rem; */
    width: 33%;
}
.left-col img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 50%; */
}
.left-col a:hover img {
    filter: drop-shadow(2px 8px 4px  #8a00fc);
    -webkit-transition : -webkit-filter 500ms linear /* yassified boiiiiii */
}


.middle-col {
    flex: 1;
    align-items: center; 
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    max-width: 697px;
    width: 40%;

}
.middle-col a {
    text-decoration: none;
}
.middle-col a:hover {
    text-decoration: underline;
}
.middle-col a p {
    color: blue;
    font-size: 13px;
    font-weight: 400;
}
.middle-col a:hover p {
    text-decoration: underline;
    color: darkblue;
}
.rating-stock {
    display: flex;
    justify-content: space-between;
    padding-right: 220px;
    padding-top: 5px;
}
.prod-rating {
    /* padding-top: 5px; */
}
.prod-stock {
    /* display: flex; */
}
.prod-stock p {
    font-size: 12px;
    padding-top: 3px;
}

.name_buy {
    align-items: center;
    justify-content: center;
    padding-left: 2rem;
    width: 27%;
    display: flex;
    flex-direction: column;
}
.name_buy p {
    font-size: 25px;
    font-weight: 600;
}
.name_buy .cta {
    padding: 4px;
    width: 200px;
}
.name_buy .cta p {
    font-size: 13px;
    font-weight: 600;
    padding: 4px 0;
}

/* 

.prod_browse{
    display: flex;
    flex-direction: column;
    margin: 100px 0px;
    max-width: 1406px;
}

.prod_browse img {
    max-width: 232px;
}

.name_buy p {
    font-size: 25px;
    font-weight: bold;
}

.prod_name {
    font-weight: bold;
    padding-bottom: 1rem;
} */