.total-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.min-add-rem {
    text-align: center;
}

.cart-wrapper {
    width: 400px;
    padding: 20px 20px 200px 0;

}

table img {
    width: 120px;
    height: auto;
}

td, h1, h2, h5{
    color: black;
}

table, th, td {
    border-top: 1px solid;
    border-bottom: 1px solid;
}
td {
    overflow: hidden;
}
th, td {
  padding: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

h1 {
    /* text-align: center; */
}