.total-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 5px;
}

.min-add-rem {
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    text-align: center;
}

.cart-wrapper {
    /* left: 1200px; */
    /* min-height: 1000px; */
    width: 400px;
    padding: 20px 20px 200px 20px;

}

table img {
    width: 160px;
    height: auto;
}

td, h1, h2, h5{
    color: black;
}

table, th, td {
    /* border: 1px solid; */
    border-top: 1px solid;
    border-bottom: 1px solid;
}
th,
td {
  padding: 10px;
}

table {
    /* table-layout: fixed; */
    width: 100%;
    border-collapse: collapse;
    /* border: 3px solid purple; */
}