/* chat box */
#chat-bot {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999;
}

#chat-icon {
    width: 70px;
    height: 70px;
    background-color: #8a00fc; 
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#chat-icon img {
    width: 60px;
    height: 60px;
}

#chat-window {
    display: none; /* Hide the chat bot window by default */
    position: absolute;
    bottom: 80px;
    right: 20px;
    width: 300px;
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
}

.message {
    margin-bottom: 10px;
}

.message p {
    padding: 10px;
    margin: 0;
    border-radius: 5px;
    background-color: #d3e0ff;
}

#chat-input-container {
    display: flex;
    margin-top: 10px;
}

#chat-input {
    flex-grow: 1;
    padding: 10px;
    border-radius: 20px;
    border: none;
    outline: none;
}

#chat-send-button {
    padding: 5px 10px;
    margin-left: 5px;
    border: none;
    border-radius: 5px;
    background-color: #8a00fc;
    color: #fff;
    cursor: pointer;
}