/* O-CompS welcome! */
h1 {
    font-size: xxx-large;
}

#home p {
    font-style: italic;
    color: rgb(99, 99, 99);
}

#home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 20px 0;
}

#home .cta {
    padding: 8px;
}

.border {
    min-height: 65px;
    background-color: #8a00fc;

}
.border-thin {
    height: 1px;
    background-color: #a639ff;
    margin: 20px 40px;
    
}

/* User's recommended products */
#products {
    /* padding-bottom: 60px; */
    
}

#personal_products .cta {
    /* padding: 0 60px; */
    padding: 10px 20px;
    width: 240px;
    height: auto;
}

#personal_products h2 {
    font-size: xx-large;
    text-align: center;
    padding: 20px 0;
}

.personal-deals {
    display: flex;
    justify-content: space-evenly;

    padding: 0 40px;
}
.personal-prod {
    /* display: flex;
    flex-direction: column; */

    max-width: 300px;
    max-height: 300px;

    padding: 20px 20px 15px 20px;
    text-align: center;
    
    border: 1px solid #e2e2e2;
    border-radius: 5px;


    /* overflow: hidden; */
    /* text-overflow: ellipsis; */

    /* max-width: 260px; */
}
.personal-prod img {
    max-height: 200px;
}

.personal-prod p {
    padding-top: 5px;
    font-size: 13px;
    color: blue;
}

.personal-prod a {
    text-decoration: none;
}
.personal-prod a:hover p{
    text-decoration: underline;
    color: darkblue;
}

/* O-CompS' new products */
#products h2 {
    font-size: xx-large;
    text-align: center;
    padding-bottom: 20px;
}
.new_prod_container {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    column-gap: 0;
    row-gap: 20px;

    justify-content: space-evenly;
    /* justify-items: center;
    align-content: space-evenly;
    align-items: center; */
    

    /* display: flex;
    flex-direction: column;
    align-items: center;  */
}

.new_prod_container .cta img {
    padding: 12px;
    /* max-width: 280px; */
}

.new_prod_container .cta {
    padding: 8px;
    /* max-width: 280px; */
}

.new_prod {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* flex-basis: calc(30% - 30px); */
    /* text-align: center; */

    max-width: 400px;
    max-height: 400px;

    padding: 20px;
    text-align: center;
    
    border: 1px solid #e2e2e2;
    border-radius: 5px;
}

.new_prod .cta {
    max-width: 400px;
    font-size: 13px;
}

.new_prod a {
    text-decoration: none;
}
.new_prod a:hover {
    text-decoration: underline;
}
.new_prod a:hover h3 {
    text-decoration: underline;
    color: darkblue;
}

.new_prod img {
    max-width: 350px;
    height: auto;
    /* background-color: #f6f6f9; */
    /* padding: 20px; */
    /* border-radius: 5%; */
}

.new_prod h3 {
    font-size: 20px;
    margin-bottom: 0px;
    padding-top: 5px;
    color: rgb(47, 0, 255);
}

.new_prod p {
    font-size: 13px;
    color: rgba(0, 0, 0, 0.89);
    margin-bottom: 5px;
    /* font-style: italic; */
}

/* O-CompS' best selling products */
#deals {
    padding-bottom: 40px;
}

#deals h2 {
    font-size: xx-large;
    text-align: center;
    padding-bottom: 20px;
}

#deals .cta {
    width: 240px;
    height: auto;
}

.bestselling_deals {
    display: flex;
    justify-content: space-evenly;

    padding: 0 100px;
}

.bestselling_deals img {
    max-height: 200px;
}

.best_deal {
    padding: 20px 20px 15px 20px;

    text-align: center;
    border: 1px solid #e2e2e2;
    border-radius: 5px;

    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 260px;
}

.best_deal p {
    padding-top: 5px;
    font-size: 13px;
    color: blue;
}

.best_deal a {
    text-decoration: none;
}
.best_deal a:hover p{
    text-decoration: underline;
    color: darkblue;
}