.border {
    height: 65px;
    background-color: #8a00fc;

}
.border-thin {
    height: 1px;
    background-color: #a639ff;
    margin: 20px 40px;
}

/* Reset some default styles */
body, figure, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Set basic typography */
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

/* Set section styles */
a.cta{
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
  
}

.cta {
    display: inline-block;
    background-color: #8a00fc;
    color: #fff;
    /* padding: 10px 20px; */
    text-decoration: none;
    transition: background-color 0.3s ease-in-out;
    border-radius: .375rem;
    font-weight: bold;
}

.cta:hover {
    background-color: #4d008b;
}
